body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #4B9CE3;
}

hr.light {
  border-color: #fff;
}

a {
  color: #4B9CE3;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #4B9CE3;
}


.video-fluid {
  width: 100%;
  max-height: 354px !important;
  height: auto;
  min-width: 150px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: #4B9CE3 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.bg-gray {
  background-color: #f2f2f2 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #4B9CE3;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #4B9CE3;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #4B9CE3;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #4B9CE3 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #4B9CE3;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #4B9CE3;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #4B9CE3;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/tvqa_bg.png");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.5rem;
  }
}

.reduce-margin {
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  header.masthead {
    /*height: 100vh;*/
    /*min-height: 650px;*/
    height: 50vh;
    min-height: 350px;
    padding-top: 0;
    padding-bottom: 0;
    /*margin-bottom: 30px;*/
  }

  .vh-small {
    height: 15vh !important;
  }

  header.masthead h1 {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3rem;
  }
}

#paper-title {
  font-size: 1.75rem;
  color: #fff;
}

#paper-links button {
  font-weight: 400;
  color: #4B9CE3;
}

.team-member {
  margin-bottom: 50px;
  text-align: center; }
  .team-member img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 7px solid #fff; }
  .team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none; }
  .team-member p {
    margin-top: 0; }

.text-gray {
  color: dimgray;
  font-size: 1rem;
}

.sponsor-img {
  vertical-align: middle;
  width: 100%;
}

.footer {
  height: 100px;
}

#sponsor-army {
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;
}

#sponsor-google-faculty {
  width: 120%;
  margin-top: 30%;
}

#sponsor-bloomberg {
  width: 120%;
  margin-top: 30%;
}

.image-pie {
  width: 100%;
}

.data-stat {
  border: 1px solid #f2f2f2;
}

.data-stat-title {
  margin: 10px 0 10px 10px;
}

#unc-cs-text-logo {
  font-size: 2rem;
}

.service-box {
  max-width: 400px;
}

#explore .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#explore .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 800px;
  margin: 0 auto;
  cursor: pointer;
}

#explore .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(75, 156, 227, 0.9);
}

#explore .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#explore .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#explore .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#explore .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#explore .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#explore .portfolio-item .portfolio-caption {
  max-width: 800px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#explore .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#explore .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*#explore * {*/
  /*z-index: 2;*/
/*}*/

@media (min-width: 767px) {
  #explore .portfolio-item {
    margin: 0 0 30px;
  }
}

.portfolio-modal {
  padding-right: 0px !important;
}

.portfolio-modal .modal-dialog {
  margin: 1rem auto;
  max-width: 80vw;
}


.portfolio-modal .modal-content {
  padding: 30px 0;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.close-modal {
  position: absolute;
  z-index: 1053;
}

.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #212529;
}

.text-green {
  color: #080;
}

.border-sub {
  border: 1px solid #888;
}

.table-readme tr{
  line-height: 1em;
}

.btn-play {
  position: absolute;
  z-index: 6 !important;
  font-size: 0.90em;
}

.slider-cover {
  position: absolute;
  color: #9fcdff;
  float:left;
  width: 100%;
  /*width: 70%;*/
  height: 75px;
  margin:-15px 0 0 0;
  z-index: 3;
}


.slider {
  float:left;
  /*width:400px;*/
  width: 65%;
  height: 10px;
  margin:15px 0 0 40px;
  /*z-index: -1;*/

}

.text-primary {
  color: #4B9CE3 !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #4B9CE3;
  border-color: #4B9CE3;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #4B9CE3 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(75, 156, 227, 0.5) !important;
}


.ui-slider-range {
  background: #4B9CE3;
}

.ui-slider-handle {
  border-color: #4B9CE3;
}

.slider-handle-left {
  font-size: 14px;
  width: 3em !important;
  height: 1.6em !important;
  top: 50% !important;
  margin-top: -2.1em;
  text-align: center;
  line-height: 1.6em;
}

.slider-handle-right {
  font-size: 14px;
  width: 3em !important;
  height: 1.6em !important;
  top: 50% !important;
  margin-top: .55em;
  text-align: center;
  line-height: 1.6em;
}

.btn-modal {
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid transparent;
  text-transform: none;
}

.btn-leaderboard {
  /*color: #fff !important;*/
  border-radius: 5px;
  font-size: 1em;
  font-weight: 400;
  border: 1px solid transparent;
  text-transform: none;
}

.qa-body {
  border: 1px solid #4B9CE3;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.qa-label {
  font-weight: bold;
  margin-right: 20px;
}

.text-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#paper-author {
  /*color: #feae10;*/
  color: lightgray;
}

.text-yellow {
  color: #fed136;
}

#paper-conf {
  color: lightgrey;
}

.table-leaderboard {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000 !important;
  word-break: break-word;
  margin: 10px 0;
  border-spacing: 0;
  border-collapse: collapse !important;
  border-color: rgb(222, 226, 230) !important;
}

.table-leaderboard th{
  border-bottom-color: rgb(222, 226, 230) !important;
  border-collapse: collapse;
}

.table-number {
  min-width: 6em;
}

.table-plus {
  min-width: 3em;
}

.table-institution {
  font-weight: 300;
  font-style: italic;
  margin: 0;
}

.details {
  color: #888 !important;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
}

.table-borderless td, .table-borderless th {
    border: none !important;
}

.human-row {
  /*color: lightgray !important;*/
  background-color: #99c9ff !important;
}

.bg-unc-blue {
  background-color: #4B9CE3;
}

#leaderboard-menu li:hover {
  background-color: lightgray;
}

#leaderboard-menu a:hover {
  text-decoration: none;
}
